extends layout
block content
h1= title
form(id='DonutForm', action="/resource/donut", method="POST")
div.form-group
label.donutAttr(for='donut_type') Costume type
input#donut_type(type='text', name='donut_type')
div.form-group
label.donutAttr(for='size') Donut size
input#size(type='text', name='size')
div.form-group
label.donutAttr(for='cost') Donut cost
input#cost(type='number', name='cost')
input(type="submit")
script.
document.forms['DonutForm'].addEventListener('submit', (event) => {
event.preventDefault();
// TODO do something here to show user that form is being submitted
fetch(event.target.action, {
method: 'POST',
body: new URLSearchParams(new FormData(event.target)) // event.target is the form
}).then((resp) => {
return resp.json(); // or resp.text() or whatever the server sends
}).then((body) => {
alert("Save succeded")
// TODO handle body
}).catch((error) => {
// TODO handle error
alert("Save failed " + error )
});
});
/* GET create update page */
router.get('/update', donut_controllers.donut_update_Page);

